@model DotNetCoreWeb_App.Models.Aliases

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aliases</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.alias_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.alias_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.criminal_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.criminal_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.alias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.alias_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
