@model IEnumerable<DotNetCoreWeb_App.Models.Appeals>

@{
    ViewData["Title"] = "Index";
}

<h1>Appeals</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appeal_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.crime_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filing_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hearing_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.appeal_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crime_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filing_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hearing_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appeal_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appeal_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appeal_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
