@model IEnumerable<DotNetCoreWeb_App.Models.CrimeCodes>

@{
    ViewData["Title"] = "Index";
}

<h1>Crime Codes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.crime_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.crime_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.crime_code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.crime_code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.crime_code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
