@model DotNetCoreWeb_App.Models.CriminalsDW

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CriminalsDW</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.criminal_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.criminal_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.last)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.last)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.first)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.first)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.v_status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.v_status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.p_status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.p_status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.criminal_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
