@model DotNetCoreWeb_App.Models.Officers

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Officers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.officer_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.officer_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.last)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.last)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.first)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.first)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.precinct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.precinct)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.badge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.badge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="officer_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
