@model IEnumerable<DotNetCoreWeb_App.Models.Officers>

@{
    ViewData["Title"] = "Index";
}

<h1>Officers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.officer_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precinct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.badge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.officer_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precinct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.badge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.officer_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.officer_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.officer_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
